.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #65558f;
  width: 360px;
  height: 82px;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.icon {
  color: white;
  width: 40px;
  height: 30px;
}

.input {
  border: none;
  background: none;
  outline: none;
  color: white;
  text-align: center; /* Ensure text is aligned left */
  font-size: 16px; /* Adjust font size for better appearance */
}

.input::placeholder {
  color: white;
  text-align: center; /* Ensure placeholder text is aligned left */
}
