.home_container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
}

.title_container {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
    font-size: 30px;
}

.contacts_container {
    height: 100%;
    width: 100%;
}

.search_container {
    height: 30vh;
    width: 100%;
    background-color: #F4FFFF;
}

.contacts_list_container {
    height: 70vh;
    width: 100%;
    background-color: #ECE6F0;
    overflow: auto;
}

.messages_container {
    height: 100%;
    width: 100%;
    background-color: F4FFFF;
}

.contacts {
    height: 100%;
    width: 100%;
}

.messages {
    height: 100%;
    width: 100%;
}