.home_container {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row: 1fr;
}

.addButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }

.title_container {
    height: 10vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: black;
    font-size: 30px;
}

.contacts_container {
    height: 100%;
    width: 100%;
}

.search_container {
    height: 30vh;
    width: 100%;
    background-color: #F4FFFF;
}

.contacts_list_container {
    height: 70vh;
    width: 100%;
    background-color: #ECE6F0;
    overflow: auto;
}

.messages_container {
    height: 100vh;
    width: 100%;
    background-color: #F4FFFF;
}

.contacts {
    height: 100%;
    width: 100%;
}

.messages {
    overflow-y: auto;
    height: 80%;
    width: 100%;
}

.messages > div {
    margin-bottom: 10px;
  }

